<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <img src="<%= homer.imageUrl %>" alt="Donut Homer">
        <div><%= homer.name %></div>
        <div><%= homer.dob %></div>
        <div><%= homer.profession %></div>
        <div><%= homer.favoriteFood %></div>
        <div><%= homer.favoriteBeverage %></div>
      </div>
    </div>
    <nav>
      <a href="/">Homepage</a>
      <a href="/question2">Previous</a>
      <a href="/question4">Next</a>
    </nav>
  </div>
</body>
